<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="info">
            <h5>عرض التذكره الخاصه بالفيلم</h5>
            <div class="link ">
              <a href="#" class="pt-2 pl-4"> www.tazkty.com/473847</a>
              <span class="pt-2 pl-4"><i class="fa-regular fa-copy"></i></span>
            </div>
            <h6>فعال حتي 15 يوليو 2023</h6>
          </div>
          <div class="tresh">
            <h3 class="trash" data-toggle="tooltip" data-placement="bottom" title="حذف">
              <i class="fa-regular fa-trash-can"></i>
            </h3>
          </div>
        </div>
        <div class="flex">
          <div class="circl">
            <span class="circl_1"></span>
            <div class="line">
              <span>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>
            </div>
            <span class="circl_2"></span>
          </div>
        </div>
        <div class="discount">
          <div class="dics">
            <span>خصم</span>
            <br>
            <span>25%</span>
            <button type="button" class="btn btn-light"><i class="fa-regular fa-paper-plane"></i>مشاركة</button>
          </div>
          <div class="qr">
            <qrcode [qrdata]="'Your data string'" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
