<div class="container mt-5">
  <div class="header">
    <div class="title">
      <span><i class="fa-solid fa-arrow-right"></i></span>
      <span>تذكره رقم #2342</span>
    </div>
    <div class="edit">
      <span><i class="fa-regular fa-pen-to-square"></i></span>
      <span>تعديل</span>
    </div>
  </div>
</div>

<div class="container con">
  <div class="row">
    <div class="col-md-8 mt-2">
      <app-Chart></app-Chart>
    </div>
    <div class="col-md-4">
      <app-Card></app-Card>
    </div>
    <app-Table></app-Table>
  </div>
</div>